body {
    margin: 0;
    padding: 0;
}

/* Heading and paragrahps */

h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: underline;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: 400;
    font-size: 50px;
    border-style: double;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
    margin-left: 10px;
}

#elonmusktitle {
    font-size: 50px;
    text-align: center;
}

#teslatitle {
    font-size: 50px;
    text-align: center;
}

#spacex {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

/* images */

.tesla {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.elon {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spacex-img {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Text */

.top-right-box {
    position: absolute;
    top: 250px;
    background-color: whitesmoke;
    width: 220px;
    height: 430px;
    right: 300px;
    opacity: 0.9;
    border-radius: 5px;
}

#text1 {
    font-size: medium;
    width: 200px;
    color: black;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.top-right-box2 {
    position: absolute;
    background-color: whitesmoke;
    width: 220px;
    height: 260px;
    left: 280px;
    opacity: 0.9;
    top: 59rem;
    border-radius: 5px;
}

#text2 {
    font-size: medium;
    width: 200px;
    color: black;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.top-right-box3 {
    position: absolute;
    background-color: whitesmoke;
    width: 460px;
    height: 320px;
    top: 109.5rem;
    opacity: 0.8;
    right: 280px;
    border-radius: 5px;
}

#text3 {
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}